<!doctype html>
<html ng-app="app">
    <head>
        <title>Etobee Technical Test</title>

        <!-- css -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="plugin/style.css">
    </head>
    <body ng-controller="AppCtrl as ctrl">
        <!-- <div map-lazy-load="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyDtP6A3_Jqg40EnmdzFARTtq35ihreFOqQ"> -->
        <div ng-include="'components/header.html'"></div>
        
        <!-- div.col-md-3 -->
        <div class="col-md-3">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="pill" href="#add">Add</a></li>
                <li><a data-toggle="pill" href="#place">Place</a></li>
                <li><a data-toggle="pill" href="#info">Info</a></li> 
                <li><a data-toggle="pill" href="#export">Export</a></li>            
            </ul>
            
            <!-- div.tab-content -->
            <div class="tab-content">
                <!-- div#add -->
                <div id="add" class="tab-pane fade in active">
                    <h3>Add New Location</h3>
                    
                    <div id="add-panel" class="tab-panel">
                        <div>
                             <b>How to Add New Location?</b>
                             <ol>
                                 <li class="text-justify" style="line-height:25px">Type You want to Add Location in <b>Autocomplete textbox</b>, then make sure the <b>Location Name</b> and <b>Address</b> are fit.</li>
                                 <li class="text-justify" style="line-height:25px">Click location you want to add in the map, automatically latitude and langitude will auto fill in the textbox, You just need to extra fill <b>Location Name</b> and <b>Address</b>.</li>
                             </ol>
                        </div>
                        <form ng-submit="submit($event)" method="post">
                            <div class="form-group">
                                <label>Autocomplete</label>
                                <input type="text" class="form-control" id="autocomplete" name="autocomplete" placeholder="Autocomplete Location Name">
                            </div>
                            
                            <div id="map_canvas"></div>

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" ng-model="form.name" placeholder="Location Name" required="required">
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        <input type="text" name="lat" class="form-control" ng-model="form.lat" placeholder="Latitude" required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input type="text" name="lng" class="form-control" ng-model="form.lng" placeholder="Longitude" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea name="formatted_address" rows="8" class="form-control" ng-model="form.address" placeholder="Address" required="required"></textarea>
                                </div>
                            </div>

                            <button type="submit" class="form-control btn btn-primary"><i class="fa fa-floppy-o"></i> Save</button>

                        </form>
                    </div>
                </div>  <!-- ./div#add -->
                 <!-- div#place -->
                <div id="place" class="tab-pane fade">
                    <h3>Place</h3>
                    <div id="place-panel" class="place-panel">
                        <div ng-repeat="place in places">

                            <div ng-click="routing(place)" class="bg-default bg-add" ng-if="!place.status">
                                <i class="fa fa-plus"></i> Select {{place.name}}
                                <div style="float: right;" ng-click="destroy(place);$event.stopPropagation();"><i class="fa fa-trash"></i></div>
                            </div>
                            <div ng-click="remove(place)" class="bg-default bg-del" ng-if="place.status">
                                <i class="fa fa-minus"></i> Release {{place.name}}
                            </div>

                        </div>
                    </div>
                    <p ng-if="route.length > 1" class="calculate" style="line-height:20px;">
                        Total Distance : About {{total}} km <br>
                        Cost Time : About {{time}} min
                        <div ng-repeat="a in map.directionsRenderers[0].directions.routes[0].legs">
                        </div>
                    </p>
                </div>  <!-- ./div#place -->
                 <!-- div#info -->
                <div id="info" class="tab-pane fade">
                    <h3>Info</h3>
                    <div ng-if="route.length == 0"><h4>Still Empty</h4></div>
                    <div class="tab-panel" id="info-direction" ng-if="route.length != 0"></div>
                </div>  <!-- ./div#info -->
                <!-- div#export -->
                <div id="export" class="tab-pane fade">
                    <h3>Export Map</h3>
                    <div ng-if="route.length == 0"><h4>Still Empty</h4></div>
                    <a ng-if="route.length != 0" title="export map" ng-click="export_map()" id="export">Click to Open</a>
                </div>  <!-- ./div#export -->
                
            </div> <!-- ./div.tab-content -->

        </div> <!-- ./div.col-md-3 -->

        <div class="col-md-9 map-area">
            <map zoom="12" center="{{center}}" style="height: 650px;" on-click="getpos($event)">

                <marker ng-repeat="place in places" position="{{place.lat}},{{place.lng}}" title="{{place.name}}" icon="{{customIcon}}"></marker>

                <directions ng-if="route.length > 1"
                            draggable="true"
                            panel="info-direction"
                            travel-mode="DRIVING"
                            origin="{{origin}}"
                            destination="{{destination}}"
                            waypoints="{{wayPoints}}"
                            optimize-waypoints="true"
                            suppress-markers="true">
                </directions>
            </map>
        </div>



        <!-- js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyDtP6A3_Jqg40EnmdzFARTtq35ihreFOqQ"></script>
        <!-- Store in firebase -->
        <script src="https://firebasestorage.googleapis.com/v0/b/fir-crud-a746f.appspot.com/o/ng-map.min.js?alt=media&token=e1da93db-7004-41e0-b740-223f808d9b4c"></script>
        <!-- ./Store in firebase -->
        <script src="plugin/script.js"></script>
        <script src="app.js"></script>

    </body>
</html>